body {
    font-family: "Open Sans", sans-serif;
}

.card {
    width: 150px;
    border: 1px solid #ef9a9a;
    border-radius: 4px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.card-header {
    color: #d32f2f;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #ef9a9a;
    background-color: #ffebee;
    padding: 5px 10px;
}

.card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.material-icons {
    font-size: 36px;
    color: #d32f2f;
    margin-bottom: 5px;
}

.main-description {
    color: #d32f2f;
    font-size: 12px;
    text-align: center;
}
